#contact {
  padding: 100px 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;

  @media screen and (max-width: 992px) {
    padding: 50px 20px;
  }
}
