#pourquoi {
  background: var(--primary);
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  box-shadow: 2px 2px 10px var(--shadow);
  text-align: center;

  @media screen and (max-width: 992px) {
    padding: 50px 20px;
  }

  * {
    color: var(--white);
  }

  .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 50px;

    @media screen and (max-width: 992px) {
      grid-template-columns: 1fr;
    }

    .item {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }
}
